*{
    margin:0;
    padding:0;
    font-family: sans-self;
    box-sizing:border-box;
}
body{
    display:flex;
    align-items:center;
    flex-direction:column;
    width:100vw;
    background-color:#a32222;
    background-size:cover;
}
.form-control{
    margin-top:50px;
    text-align:center; 
    color: white;
    text-shadow: 2px 2px 4px black;
    box-shadow: 10px 10px 5px 12px red;
}
input{
    display:block;
    width:350px;
    height:40px;
    margin:20px;
    border:none;
    outline:none;
    font-size:20px;
    border-bottom:2px solid rgb(161, 30, 30);
    box-shadow:10px 10px 5px ;
    text-shadow: 2px 2px 5px;
    background-color:#fff;
    color:rgb(39, 9, 170);
}
button{
    display: flex;
    flex:2;
    justify-content:center;
    width:350px;
    height:40px;
    font-size:20px;
    margin:20px;
    background-color:rgb(255, 0, 0);
    border:none;
    margin-top:20px; 
    text-shadow: 2px 2px 5px rgb(161, 30, 30);
    box-shadow: 10px 10px 5px  gold;
} 
.form-control h1{
    margin-bottom:30px;
    color:gold;
}